# Code encoding settings
* text diff eolf trailingspace whitespace
*/* text eolf lf chlsep
*/.gitattributes text diff eolf lf chlsep
*/*.py text diff eolf lf chlsep